body {
    background-color: #eee;
}

.caja{
    margin: 8px;
    background-color: #aaf;
    border-style: solid;
    border-width:8px;
    border-color: #faa;
    border-left:6px solid #afa;
    background-color: #aaf;
    border-radius: 8px;
    height: 100px;
    width: 100px;
    color: #575;
}